@font-face {
    font-family: 'StripesCaps';
    src: url('fonts/StripesCaps.ttf') format('truetype');
}
@font-face {
    font-family: 'EffloresceAntique';
    src: url('fonts/EffloresceAntique.otf') format('truetype');
}
@font-face {
    font-family: 'Effloresce';
    src: url('fonts/Effloresce.otf') format('truetype');
}
@font-face {
    font-family: 'EffloresceBd';
    src: url('fonts/Effloresce-Bd.otf') format('truetype');
}
@font-face {
    font-family: 'CocoGothic';
    src: url('fonts/Coco-Gothic-Regular-trial.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboga';
    src: url('fonts/Robaga-Rounded-Regular.otf') format('truetype');
}

@font-face {
    font-family: 'Confortaa';
    src: url('fonts/Comfortaa-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Amiko';
    src: url('fonts/Amiko-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'NunitoBold';
    src: url('fonts/Nunito-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'NunitoRegular';
    src: url('fonts/Nunito-Regular.ttf') format('truetype');
}

.vega-embed .vega-bind {
    font-family: 'NunitoRegular', sans-serif;
    text-align: center;
}

#tip {
    color: rgb(27, 26, 26);
    font-size: 15px;
    text-align: center;
    font-style: bold;
    font-family: 'NunitoBold', sans-serif;
}

#subheading {
    color: rgb(27, 26, 26);
    font-size: 35px;
    text-align: center;
    font-family: 'NunitoBold',cursive, sans-serif;
}

#h1 {
    color: rgb(27, 26, 26);
    font-size: 70px;
    text-align: center;
    font-weight: 600;
    font-family: 'EffloresceBd',cursive, sans-serif;
}

#h2 {
    color: rgb(27, 26, 26);
    font-size: 40px;
    text-align: center;
    font-family: 'NunitoBold',cursive, sans-serif;
}

#h3 {
    color: rgb(27, 26, 26);
    font-size: 20px;
    text-align: center;
    font-family: 'Amiko', sans-serif;
}

#playButton {
    background-color: #e0e0e0; /* Green */
    border-color: rgb(27, 26, 26);
    color: rgb(27, 26, 26);
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    position:relative;
    transform: translate(950px, -2245px);
}

#playButton:hover {
    background-color: #626262;
}

